[color]
    branch = auto
    status = auto
    diff = auto
    ui = auto
    wtf = true
    interactive = auto
[pack]
    threads = 0
[diff]
    renamelimit = 3000
[user]
    name = anonfunc
    email = anonfunc@gmail.com
[alias]        
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    llog = log --date=local
    flog = log --follow -M -C -C -- 
    plog = log --pretty=tformat:'%h %Cred%cr%Creset %cn %Cgreen%s%Creset'
    me = log --pretty=tformat:'%h %Cred%cr%Creset %cn %Cgreen%s%Creset' --author=first
    st = status -s
    switch = !sl
    blame = blame -w -M -C
    annotate = blame -w
    who = shortlog -s -n --
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    patch = !git diff --no-prefix -w -U10000 --patience `git svntip` HEAD
    svntip = rev-list -n1 --grep=git-svn-id HEAD
    svnsquash = !git rebase -i `git svntip`
    has-reviewer = "!git rev-list -n1 HEAD --oneline | grep -q '\\[.*\\]'"
    good-reviewer = "!git has-reviewer && git rev-list -n1 HEAD --oneline | grep -v -q '\\[none\\]'"
    svnchanged = ! git log --pretty="format:" --name-only `git svntip`..HEAD | sort | uniq
    vd = push -f SUV HEAD
    teamcity15 = tc bt411
    teamcity = tc bt518
    teamcity-wmu = tc bt538
    teamcity-rabbit = tc bt246 tools/fulltest/rabbit/build.properties
    # Convenience?
    c = checkout
    m = commit -m
    ca = commit --amend
    a = add
    ap = add -p
    l = log
    d = diff
    supershow = log -1 -C --find-copies-harder -p
    b = branch
    ss = !git svnsquash
    sh = show HEAD
    ja = jira all

# From http://gitready.com/advanced/2011/10/21/ribbon-and-catchup-reading-new-commits.html
    ribbon = tag --force _ribbon svn/trunk
    catchup = log -p --reverse --topo-order _ribbon..svn/trunk
[merge]
#	tool = meld
    #tool = fugitive
    tool = fugitive
[mergetool "fugitive"]
    cmd = /usr/local/bin/vim -f -c \"Gdiff\" \"$MERGED\"
[mergetool "emacs"]
    cmd = ecmerge $LOCAL $REMOTE $BASE $MERGED
    trustExitCode = false
[rerere]
    enabled = 1
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,-cr-at-eol
    editor = /usr/local/bin/vim
	preloadIndex = false
#	pager = less -$LESS -SFRX -SR +'/^---'
[help]
    autocorrect = 5
[guitool "SVN Fetch"]
    cmd = git svn fetch
[guitool "SVN Rebase"]
    cmd = git svn rebase
[notes]
    rewriteRef = refs/notes/*
[filter "scrub"]
    clean = scrub
    smudge = unscrub
[status]
	showUntrackedFiles = normal
